.weatherApp {
  font-family: "Poppins", sans-serif;
  max-width: 550px;
  margin: 40px auto;
}

.weatherAppWrapper {
  color: rgb(70, 60, 60);
  background-color: #f6e6cb;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
